@media screen and (max-width: 700px){
    .login {
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        margin: 10vh 3vw;
    }

    .register {
        height: 60vh;
        padding: 8vh 6px;
    }
    
}