.register {
    padding: 8vh 24px;
    font-size: clamp(1rem, 2vw, 1em);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register h1 {
    font-size: clamp(2em, 5vw , 4.5rem);
    font-weight: 900;
}

.register__div--links {
    display: flex;
    justify-content: center;
    gap: calc(2vw + 10px);
}

.register__facebook {
    color: #3b5998;
    padding: 4px;
    min-width: 90px;

    border: 1px solid #3b5998;
    border-radius: 4px;
    font-weight: 600;
}

.register__g-mail {
    color: #fff;
    padding: 4px;
    min-width: 90px;

    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: 600;
}

.register__division {
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

.register__division::after {
    content: '_______________________________________________';
    position: absolute;
    transform: translate(+5%,-50%);
}

.register__division::before {
    content: '___________________________________________';
    position: absolute;
    transform: translate(-105% , -50%);
}

.register__center {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.regiter__div--input {
    padding: 6px 8px;
    margin: 0 auto;
    border: 2px solid var( --color-white);
    border-radius: 6px;
    text-align: start;
}

.regiter__div--input input {
    color: var( --color-white);
}

.regiter__div--button button{
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 12px;
}

.regiter__div--button a {
    color: var( --color-white);
    font-size: clamp(1rem, 0.5vw, 0.5rem);
}